/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/webfonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env-copy
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.deployment
deploy.cmd
*.woff
*.woff2
*.eot
*.ttf