// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #3b86ff;
$primaryDark: mix(black, $primary, 10%);

$secondary: #69e4a6;
$secondaryLight: rgba($secondary, 0.35);

$dark: #1b1c1d;
$dark05: #3c3b54;
$dark1: #535353;
$dark25: #888;
$dark2: #a8a8a8;
$darkAlt: #43425d;
$darkAlt2: #56556e;
//$darker: mix(black, $dark, 15%);
$darker: mix(black, $dark, 20%);
$darker1: mix(black, $dark, 30%);
$light: #f9f9f9;
$light1: #f3f3f3;
$light2: #dfdfdf;
// $light4: #EEEEEE;

$blue: #3b86ff;
$red: #ff6565;
$orange: #f6993f;
$yellow: #f3e959;
$green: #5ee2a0;
$yellowGreen: #b5cc18;

// Sidebar
$sidebarWidth: 260px;

// Navbar
$navbarHeight: 72px;

// Screen sizes / Breakpoints
$screenSmall: 1600px;

// Media Queries
// $mq-small: "(min-width:)"
