// Colors
// $primary: #3b86ff;
$primary: #2a46ff;
$primaryDark: mix(black, $primary, 10%);

$primary300: #7f93ff; //#e0f5f9 //#c7d0ff
$primary400: #5f76ff;
$primary500: $primary;
$primary600: #1e34db;
$primary700: #1526b7;
$primary800: #0d1993;
$primary900: #08107a;

$blue: #41a2fc;
// $red: #ff6565;
// $red: #ff395e;
$orange: #db7921;
$yellow: #ffdc16;
$yellowGreen: #b5cc18;

$red100: #ffded7;
$red200: #ffb7af;
$red300: #ff8888;
$red400: #ff6a78;
$red500: #ff395e;
$red600: #b71c56;
$red700: #b71c56;
$red800: #93124f;
$red900: #7a0a49;
$red: $red500;

$green: #42e794;
$green400: #6ff0a2;
$green500: #42e794;
// $green600: #44c290;
$green600: #30c68a;
$green700: #21a67d;

$grey100: #fafcfd;
$grey200: #f5fafb;
$grey300: #f0f3f4; //#ccdbef
$grey400: #dfe7ea;
$grey450: #cfd8dd;
$grey500: #c7d3db;
$grey600: #a7b2c2;
$grey700: #68849f;
$grey800: #425e80;
$grey900: #27416a;

$bluegrey100: #edf8fc;
$bluegrey200: #e1ebf1;
$bluegrey250: #e4eef5;
$bluegrey300: #cddde8;
$bluegrey400: #adc9db;
$bluegrey500: #8dabc4;
$bluegrey600: #6787a8;
$bluegrey700: #445f7b;
$bluegrey800: #2c3f59;
$bluegrey900: #1c293b;

$success: $primary;
$error: $orange;
$danger: $red;
$warning: $yellow;
$info: $blue;

$secondary: #42e794;
$secondaryLight: rgba($secondary, 0.35);

$dark: #1c293b;
$dark100: #0d131c;
$dark200: #1c293b;
$dark05: #313f52;
$dark1: #535353;
$dark15: #707070;
$dark2: #a8a8a8;
$darkAlt: #43425d;
$darkAlt2: #56556e;
//$darker: mix(black, $dark, 15%);
$darker: mix(black, $dark, 20%);
$darker1: mix(black, $dark, 30%);
$light: #f9f9f9;
$light1: #f3f3f3;
$light2: #dfdfdf;
// $light4: #EEEEEE;
$grey: #e4e4e4;
$grey2: #cfcfcf;

$button: $grey;

$success: $green;
$fail: $red;
$warming: $yellow;

// $divider: $grey500;
$divider: $grey600;
$dividerColor: $grey600;
$dividerWidth: 1px;
$borderDivider: solid $dividerWidth $dividerColor;
$darkenAmount: 10%;
$lightenAmount: 10%;

$groupColors: (#3366ff), (#26abd6), (#20a720), (#b51f26), (#905b15);

// BUTTON SIZES ($name, $height, $font-size, $padding, $icon-font-size, $inner-el-spacing, $borderRadius)
$button-sizes: ('min', 8px, 8px, 1px, 6px, 1px, 2px), ('xxs', 16px, 10px, 1px, 8px, 2px, 2px),
    ('xs', 20px, 12px, 6px, 10px, 2px, 4px), ('sm', 24px, 12px, 6px, 11px, 6px, 4px),
    ('md', 40px, 12px, 12px, 14px, 8px, 8px), ('lg', 48px, 12px, 20px, 14px, 8px, 8px),
    ('xl', 60px, 18px, 24px, 20px, 8px, 8px), ('xxl', 72px, 20px, 24px, 20px, 8px, 8px);

// Sidebar
$sidebarWidth: 52px;

// Navbar
$navbarHeight: 48px;

// ------- DEFINE COLORS

// ------- END DEFINE COLORS

// ------- ASSIGN COLORS
// Backgrounds
// $bg: #e6ecef; // #f4f6ff
$bg: #f4f6ff; // #f4f6ff
$bgContent: white;
$bgModule: white;
$bgModuleHover: $grey300;
$bgModuleActive: #fafbfc;
// $bgModuleInactive: #cdd8df;
$bgModuleInactive: $grey600;
$bgContentAlt: #fafbfc;
// $bgEl: #d7dee1;
$bgEl: #cfd8dd;
$bgElHover: #cddde8;
// $bgElInactive: $grey400;
$bgElInactive: #d5dee1;

$bgDark: $dark100;
$bgModuleDark: $dark100;
$bgModuleActiveDark: #273b5c;
$bgModuleHoverDark: #273b5c;

// -------- END ASSIGN COLORS

// FONTS / TYPOGRAPHY
$font: $dark;
$fontSoft: $bluegrey500;
$fontBody: $dark;
$fontIcon: $dark2;

$fontModuleActiveOnDark: $bluegrey100;

$fontSoftOnDark: $grey300;

$fontButtonInvisible: $fontSoft;
$fontTableHeader: $fontSoft;

// ICONS
// $icon: #8dabc4;
$icon: $bluegrey700;
$iconInFont: $icon;
$iconSoftOnDark: $bluegrey500;

$iconModuleActiveOnDark: $bluegrey100;

$iconButtonInvisible: $icon;

// Shadows
$shadowXs: 0 3px 4px rgba(0, 0, 0, 0.2);
$shadowModule: 0 3px 4px 0 rgba(117, 134, 156, 0.1);
$shadowModuleHard: 0 3px 6px 0 rgba(black, 0.3);
$shadowEl: 0 3px 4px 0 rgba(117, 134, 156, 0.1);
$shadowElSoft: 0 1px 2px 0 rgba(117, 134, 156, 0.3);
$shadowElHard: 0 3px 4px 0 rgba(black, 0.4);

// Borders
$borderRadiusSm: 4px;
$borderRadiusMd: 8px;
$borderRadiusLg: 16px;

// $borderModule: 1px solid rgba(168, 198, 223, 0.4);
$borderModule: 1px solid #cddde8;
$borderRadiusModule: $borderRadiusMd;
$borderColorEl: $bluegrey400;
$borderColorElHard: $bluegrey500;
$borderColorElHover: #75869c;
$borderEl: solid 1px $borderColorEl;
$borderRadiusEl: $borderRadiusMd;
$borderElSoft: solid 1px #cddde8;
$borderElHard: solid 2px $borderColorElHard;
$borderElHover: solid 2px $primary;
$borderGhostItem: dashed 1px #cddde8;

// TABLES
$heightTableTab: 40px;

// TABS
$bgTab: $grey500; // #c8d1df
$fontColorTab: white;
$bgTabActive: white;
$fontColorTabActive: $primary;
$bgTabHover: $primary;
$fontColorTabHover: white;

// Button
$transformElActive: scale(0.97);

// VIDEO PLAYER
// Player Controls
$heightPreviewPlayerControls: 48px;

$heightPlayerControls: 80px;
$heightPauseOverlay: 180px;
// $heightEditVideoTimeline: 108px;
$heightEditVideoTimeline: 168px;
$heightVideoTimeline: 8px;

// MIXINS

// RESPONSIVE
// Screen sizes / Breakpoints
$screenMd: 1600px;
$screenSm: 1400px;
$screenXs: 1260px;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// VIDEO & ANIMATION
$videoPauseTransition: 0.2s ease-out;

// BRAND COLORS ($name, $color, $hoverstate, $text, $pressed state, $bgOpacity)
$brand-colors: (
        'primary',
        $primary,
        mix(white, $primary, $lightenAmount),
        white,
        mix($dark05, $primary, $darkenAmount),
        1
    ),
    ('dark', $dark, mix(white, $dark, $lightenAmount), white, $dark, 1),
    ('green', $green500, $green400, white, $green600, 1),
    ('secondary', $secondary, mix(white, $secondary, $lightenAmount), $dark, mix($dark05, $secondary, $darkenAmount), 1),
    ('red', $red, mix(white, $red, $lightenAmount), white, mix($dark05, $red, $darkenAmount), 1),
    ('yellow', $yellow, mix(white, $yellow, $lightenAmount), $dark05, mix($dark05, $yellow, $darkenAmount), 1),
    ('orange', $orange, mix(white, $orange, $lightenAmount), $dark05, mix($dark05, $orange, $darkenAmount), 1),
    ('white', white, mix(white, white, $lightenAmount), $dark05, mix($dark05, white, $darkenAmount), 1),
    ('black', black, mix(white, black, $lightenAmount), white, black, 0.8),
    (
        'light',
        $bluegrey250,
        mix(white, $bluegrey250, $lightenAmount),
        $fontSoft,
        mix($dark05, $bluegrey250, $darkenAmount),
        1
    ),
    (
        'grey',
        $fontSoft,
        mix(white, $bluegrey250, $lightenAmount),
        $fontSoft,
        mix($dark05, $bluegrey250, $darkenAmount),
        1
    );

// UI SQUARE SIZES ($name, $height, $padding, $min-width)
$ui-square-sizes: ('xs', 24px, 12px, 8px), ('sm', 40px, 6px, 24px), ('md', 44px, 14px, 16px), ('lg', 48px, 14px, 20px);
