// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #3B86FF;
$primaryDark: mix(black, $primary, 10%);

$secondary: #69E4A6;
$secondaryLight: rgba($secondary, .35);

$dark: #1B1C1D;
$dark05: #3C3B54;
$dark1: #535353;
$dark25: #888;
$dark2: #A8A8A8;
$darkAlt: #43425D;
$darkAlt2: #56556E;
//$darker: mix(black, $dark, 15%);
$darker: mix(black, $dark, 20%);
$darker1: mix(black, $dark, 30%);
$light: #F9F9F9;
$light1: #F3F3F3;
$light2: #DFDFDF;
// $light4: #EEEEEE;

$blue: #3B86FF;
$red: #FF6565;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #5EE2A0;
$yellowGreen: #B5CC18;

// Sidebar
$sidebarWidth: 260px;

// Navbar
$navbarHeight: 72px;

// Screen sizes / Breakpoints
$screenSmall: 1400px;

// Media Queries
// $mq-small: "(min-width:)"